/dist
/dist-test
/logs
/npm-debug.log
node_modules
dist
.cache
.DS_Store
.idea/
coverage/
.nyc_output/
package-lock.json
/env/dev/graph.db/
logs/
backup.*
/lib
assets/*
!assets/.gitkeep
src/scripts/*.csv
!src/scripts/shops.csv